*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
.all-Characters{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.character{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.character p{
    font-size: 0.8rem;
}
.character img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}